{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
     "parserOptions": {
         "parser": "babel-eslint"
     },
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "rules": {
        "no-param-reassign": [2, { "props": false }],
        "no-underscore-dangle": [1, { "allow": ["_id"] }],
        // "no-restricted-globals": ["error", "event", "fdescribe"]
    }
}